<h1 class="text-light">@ViewBag.Joke</h1>

<div class="row justify-content-md-center">
    <div class="col-3">
        <a class="btn btn-light" asp-controller="Joke" asp-action="Generator">New Joke</a>
    </div>
 </div>
